<div class="container">
<h2>Recommendations</h2>
<hr>
<ul>
<% @recommendations.each do |recommendation| %>
   <li> <%= render partial: 'recommendations/media', locals: {recommendation: recommendation}  %> - <%= render partial: 'recommendations/receiver', locals: {recommendation: recommendation}  %> </li>
<% end %>
</ul>
</div>