<ul>
<% @recommendations.each do |recommendation| %>
   <li> <%= link_to recommendation.media_asset.title, media_asset_path(recommendation.media_asset) %> - <%= link_to recommendation.recommendation_receiver.username, user_path(recommendation.recommendation_receiver) %> </li>
<% end %>
</ul>