<ul>
<% @recommendations.each do |recommendation| %>
   <li> <%= render partial: 'recommendations/recommendation_media', locals: {recommendation: recommendation}  %> - <%= render partial: 'recommendations/recommendation_receiver', locals: {recommendation: recommendation}  %> </li>
<% end %>
</ul>