<div class="container">
<h2><%= @media_asset.title %></h2>

<h3><%= @media_asset.media_type %></h3>


<p><%=link_to "Edit", edit_media_asset_path(@media_asset), :class => "link" %></p>

<p><%=link_to "All Movies and TV Shows", media_assets_path, :class => "link" %></p>
</div>




