<p><%= @media_asset.title %></p>

<p><%= @media_asset.media_type %></p>

<p><%=link_to "Add To User Recommendations", new_user_recommendation_path %></p>


<p><%=link_to "All Movies and TV Shows", media_assets_path %></p>




