<div class="container">
<h3>Edit Account</h3> 

<%= render partial: 'errors', locals: {model: @user} %>

<%= render partial: 'form' %>

<%= button_to "delete account", @user, :method => :delete, :class => 'btn btn-light' %>
</div>
