
<h3>Sign Up!</h3> 

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> occured:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'form' %>


<h3>Sign In With Google</h3>

<%= button_to 'Google Sign In', '/auth/google_oauth2' %>




