<br>
<div class="container">
<h3>Sign Up!</h3> 

<%= render partial: 'errors', locals: {model: @user} %>

<%= render partial: 'form' %>


<h3>Sign In With Google</h3>

<%= button_to 'Google Sign In', '/auth/google_oauth2' %>
</div>




