@import "~bootstrap/scss/bootstrap";

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

  .container {
    border: 1px solid black;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #8451d6;
    color: white;
  }

  body {
    background-color: #424242;
  }

  li {
    list-style-type: none;
  }

  .link {
    font-size: 25px;
    color: black;
    text-decoration: none;
  }

  input {
    display: block;
    margin: 0 auto;
  }

  @media (max-width: 500px){
    .container {
      border: 1px solid black;
      width: 80%;
      margin: auto;
      margin-top: 40px;
      padding-top: 60px;
      padding-bottom: 20px;
      text-align: center;
      background-color: #8451d6;
      color: white;
    }
    .link {
      font-size: 20px;
      color: black;
      text-decoration: none;
    }
  }


 