@import "~bootstrap/scss/bootstrap";

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

  .container {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: #d7cef2;
  }

  body {
    background-color: #adacb0;
  }


 