@import "~bootstrap/scss/bootstrap";

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

  .container {
    border: 1px solid black;
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 40px;
    padding-top: 60px;
    text-align: center;
    background-color: #8451d6;
    color: white;
  }

  body {
    background-color: #424242;
  }

  li {
    list-style-type: none;
  }

  .welcome-link {
    font-size: 25px;
    color: black;
  }


 