<h1>Most Recent Recommendations</h1>

<ul>
<% @recommendations.each do |recommendation| %>
   <li> <%= render partial: 'recommendations/media', locals: {recommendation: recommendation}  %> 
    was recommended to <%= render partial: 'recommendations/receiver', locals: {recommendation: recommendation} %>
    by <%= render partial: 'recommendations/maker', locals: {recommendation: recommendation}  %> </li>
    <hr>
<% end %>
</ul>


