<br>
<div class="container">
<h1>Welcome to Queue!</h1>
<p>Create an account to start recommending TV shows and Movies to friends!</p>


<%= link_to "Sign Up", new_user_path %> | <%= link_to "Login", login_path %>
</div>
