<br>
<div class="container">
<h1>Welcome to Queue!</h1>
<h3>Queue is a recommendation platform where users can connect and share TV shows and Movies to watch.</h3>
<br>
<h4>Create an account and start adding TV shows and Movies to users Queues!</h4>


<%= link_to "Sign Up", new_user_path, :class => "welcome-link" %> | <%= link_to "Login", login_path, :class => "welcome-link" %>
</div>
